@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --fonte1: 'Comfortaa', cursive;
    --fonte2: "Futura", Arial, Helvetica, sans-serif;
    --fonte3: "VargroundR", Arial, Helvetica, sans-serif;
    --cor1: #cc726b;
    --cor2: #AADDFF;
    --cor10: #f0b039;  
    --cor11: #cccccc;  
    --cor12: #AADDFF;

    --cor21: #c44a41;

    --sombra01: -1px 1px 4px rgba(0, 0, 0, 0.5);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex: 1 1 100vw;
}

.fundoTela {
    width:300px;
    height: 300px;
    background-color: #cc726b;
    background-image: url('')
}


header, nav, main, aside, footer {

    display: flex;
    margin: 0px;
}

header {
    flex: 1 1 100vw;
    height: 250px;
    background: var(--cor2);
}

header #logo {
    flex: 0 1 400px;
    background: var(--cor2);
    padding: 30px;
    font-family: var(--fonte1);
    text-align: center;
    color:var(--cor1);
    text-shadow: var(--sombra01);
}

.logo {
    width: 250px;
    margin-left:30px;
}


#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
    color: var(--cor1);
}

nav {
    flex: 1 1 100vw;
    /*Alinha na vertical*/
    align-items: center;
    /*Alinha na horizontal*/
    justify-content: space-evenly;
    padding: 15px
}

nav a {
    margin: 3%;
    font-size: 20pt;
}

main {
    display: block;
    /*
    flex: 20 1 500px;
    height: calc(100vh - 224px);
    */
}


/* Imagens*/
/*
img {
    max-width: 100%;
    display:block;
}
*/

.imagem_consultorio {
    width: 100vw;
    margin; 0;
   /* background-image: url(.assets\images\01_imagem_consultorio.jpg);*/
}

figure {
    margin: 0;
}

.apresentacao {
    display: block;
    padding: 20px;
    background-color: aquamarine;
    width: 100vw;
}

.title {
    text-align: center;
    color: var(--cor21);
    text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte1);
}

.conteiner_apresentacao {
    display: flex;
    background: #c44a41;
    width: 70%;
    margin: auto;
}

.conteiner_foto {
    height: 320px;
    width: 320px;
    background: blue;;
}

.description {
    background: blueviolet;
}

    /*
.conteiner {
    display: flex;
    background: #c44a41;
    flex-wrap: wrap;
    justify-content: center;
}

.imagemDoutora {
    width: 10px;
    height: 10px;
    background: #f0b039;
}

.doutora0 {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    
}

*/
.btnContato {
    font-family: "LatoHeavy", "Futura", Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    background-color: #40BCD8;
    padding:10px;
    color: white;
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

/*
button {
    padding: 10px;
    border-radius: 10px;
    border: solid 2px #40BCD8;
    background-color: transparent;
    color: #40bcd8;
}

button:hover{
    text-shadow: 1px 1px 3px #d5dbdb;
    transform: scale(1.1)
}
*/
.especilidades {
    background-color: #f0b039;
    padding: 25px;
}

/*cards_especialidades*/
.cards_especialidades {
    display:flex;
    flex-wrap: wrap;
}

.card_especialidades {
    max-width: 270px;
    margin: 25px auto;
    -webkit-box-shadow: 0px 5px 16px -5px var(--cor11); 
    box-shadow: 0px 5px 16px -5px var(--cor11);
    border: 5px solid var(--cor1);
    border-radius: 30px 15px 30px 15px;
    padding: 25px;
    background: white;
}

.card_especialidades_imagem{
    height: 150px;
    width: 150px;
    /*
    background: #40BCD8;
    */
    text-align: center;
    margin: auto;
    
}

.card_titulo {
    text-align: center;
    font-size: 1.5em;
    color: var(--cor1);
    text-shadow: var(--sombra02);
}


.card_sinopse_tratamento {
    text-align: justify;
    text-indent: 25px;
}

/* Imagens*/

aside {
    flex: 1 1 200px;
}

footer {
    display: block;
    /*
    flex: 1 1 100vw;
    height: 100px;
    */
}

a {
    text-decoration: none;
    color: inherit;
}

.colorButton {
    color: white
}

@media only screen and (max-width:923px) {
    main {
        height: calc(100vh - 330px);
    }

    header #logo {
        flex: 0 1 400px;
        padding: 30px;
        font-family: var(--fonte1);
        text-align: center;
        color:var(--cor1);
        text-shadow: var(--sombra01);
        margin: auto;
    }
    
    .logo {
        width: 250px;
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu{
        position: fixed;
        right: 35px;
        top: 35px;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}

header {
    margin: auto;
    text-align: center;
}

header #logo {
    flex: 0 1 400px;
    padding: 30px;
    font-family: var(--fonte1);
    text-align: center;
    justify-content: center;
    margin: auto;
}

.logo {
    width: 250px;
    margin: auto;
    text-align: center;
}

@media screen (max-width: 640px) and (min-width:360px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu{
        position: fixed;
        right: 35px;
        top: 35px;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}   
